{% extends '@ISLog/Common/base.html.twig' %}

{% block title %}Log entries{% endblock %}
{% block body_class %}log-entries{% endblock %}

{% block js_bottom %}
    <script>
        var ServerConfig = {
            logType: {{ constant('LOG_TYPE_APP', logManager) }},
            pagination: {
                method: 'post',
                action: '',
                listLimit: {{ limit }},
                totalPages: {{ total }},
                lastPageNum: {{ lastPageNum }}
            }
        };
    </script>
{% endblock js_bottom %}

{% block main %}

    {{ form_start(form, {'attr': {'class': 'js_search_form'}}) }}
    {{ form_widget(form.offset, {'attr': {'class': 'js_offset'}}) }}
    {{ form_end(form) }}

    <div class="row">
        <div class="col-sm-5"><h4>App Log (<span class="js_total_entries">{{ total }}</span>)</h4></div>
    </div>

    <div class="row actions">
        <div class="col-sm-2">
            <label class="control-label required">Action</label>
            <div class="form-group">
                <select class="form-control js_action_select">
                    <option value="delete" data-method="POST" data-action="{{ path('is_log_delete') }}">Delete</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2 btn-col">
            <button type="button" class="btn btn-primary js_action_make_btn">Make</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 pull-left">
            <label><input type="checkbox" value="" class="js_select_all_btn">Select all checkboxes on page</label>
        </div>

        <div class="col-sm-2 pull-right">
            <a href="{{ path('is_log_empty_log', {'logType': constant('LOG_TYPE_APP', logManager)}) }}"> Delete all entries </a>
        </div>
    </div>

    <div class="js_item_list">
        {% include '@ISLog/AppLog/entries_list.html.twig' %}
    </div>

    <ul class="pagination js_pagination"></ul>

{% endblock main %}

