<div>
{% for entry in entries %}
    {% set panel_status_class = 'info' %}

    {% if entry.status == constant('STATUS_WARNING', logManager) %}
        {% set panel_status_class = 'warning' %}
    {% elseif entry.status == constant('STATUS_DANGER', logManager)  %}
        {% set panel_status_class = 'danger' %}
    {% endif %}

    <div class="panel panel-{{panel_status_class}} app-panel-log js_entry">
        <label class="panel-heading">
            <input class="js_item_checkbox" type="checkbox" value="{{ entry.id}}">
            <span><b>ID:</b> {{ entry.id }}</span>
            <span><b>createdAt:</b> {{ entry.createdAt|localizeddate('none', 'none', app.request.locale, null, 'dd.MM.y H:mm:ss') }}</span>
            {% if entry.tag is defined and entry.tag%}
                <span><b>Tag:</b> {{ entry.tag }}</span>
            {% endif %}

            {% if entry.logType == constant('LOG_TYPE_TRANSACTION', logManager) %}
                <span class="float-right color-green">TRANSACTION</span>

            {% elseif entry.logType == constant('LOG_TYPE_ADMIN', logManager) %}
                <span class="float-right color-red">ADMIN</span>

            {% elseif entry.logType == constant('LOG_TYPE_TRADER', logManager) %}
                <span class="float-right color-blue">TRADER</span>
            {% endif %}
        </label>

        <div class="panel-body">
            {% if entry.logType == constant('LOG_TYPE_TRANSACTION', logManager) %}
                <span><b>traderId:</b> {{ entry.traderId }}</span> <b>/</b>
                <span><b>txCode:</b> {{ entry.txCode }}</span> <b>/</b>
                <span><b>txType:</b> {{ entry.txType }}</span> <b>/</b>
                <span><b>txStatus:</b> {{ entry.txStatus }}</span> <b>/</b>
                <span><b>txSub:</b> {{ entry.txSub ? 'true':'false' }}</span>
                <div><b>message:</b> {{ entry.message }}</div>

            {% elseif entry.logType == constant('LOG_TYPE_ADMIN', logManager) %}
                <span><b>adminId:</b> {{ entry.adminId }}</span> <b>/</b>
                {% if entry.traderId is defined and entry.traderId %} <span><b>traderId:</b> {{ entry.traderId }}</span> <b>/</b> {% endif %}
                <span><b>action:</b> {{ entry.action }}</span>
                <div><b>message:</b> {{ entry.message }}</div>

            {% elseif entry.logType == constant('LOG_TYPE_TRADER', logManager) %}
                <span><b>traderId:</b> {{ entry.traderId }}</span> <b>/</b>
                <span><b>action:</b> {{ entry.action }}</span>
                <div><b>message:</b> {{ entry.message }}</div>
            {% endif %}
        </div>

        {#<div class="app-panel-actions">#}
            {#<div class="app-panel-action">#}
                {#<a href="#" class="js_entry_delete_btn" data-entry_id="{{ entry._id }}" data-method="post" data-action="#">Delete</a>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endfor %}
</div>