<!DOCTYPE html>
<html>
<head>
    <base href="" />

    <meta http-equiv='content-type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log def</title>

</head>

<body>
 Hello World!
</body>
</html>

