<div>
{% for entry in entries %}
    {% set panel_status_class = 'info' %}

    {% if entry.status == constant('STATUS_WARNING', logManager) %}
        {% set panel_status_class = 'warning' %}
    {% elseif entry.status == constant('STATUS_DANGER', logManager)  %}
        {% set panel_status_class = 'danger' %}
    {% endif %}

    <div class="panel panel-{{panel_status_class}} app-panel-log js_entry">
        <label class="panel-heading">
            <input class="js_item_checkbox" type="checkbox" value="{{ entry.id }}">

            <span><b>ID:</b> {{ entry.id }}</span>
            <span><b>createdAt:</b> {{ entry.createdAt|localizeddate('none', 'none', app.request.locale, null, 'dd.MM.y H:mm:ss') }}</span>
            <span><b>Component:</b> {{ entry.component }}</span>
            {% if entry.tag %}
                <span><b>Tag:</b> {{ entry.tag }}</span>
            {% endif %}
        </label>

        <div class="panel-body">
            {% if entry.exception %} <div><b>Exception:</b> {{ entry.exception }}</div> {% endif %}
            {% if entry.code %} <div><b>Code:</b> {{ entry.code }}</div> {% endif %}
            <div> {% if entry.exception %}<b>Message:</b> {% endif %} {{ entry.message }}</div>
            {% if entry.file %} <div><b>File:</b> {{ entry.file }}</div> {% endif %}
            {% if entry.line %} <div><b>Line:</b> {{ entry.line }}</div> {% endif %}
        </div>

        {#<div class="app-panel-actions">#}
            {#<div class="app-panel-action">#}
                {#<a href="#" class="js_entry_delete_btn" data-entry_id="{{ entry.id }}" data-method="post" data-action="#">Delete</a>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endfor %}
</div>