<!DOCTYPE html>
<html>
<head>
    <base href="" />

    <meta http-equiv='content-type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta name="viewport" content="width=device-width" />#}

    <title>{% block title %}{% endblock %} | ISLog</title>

    <meta name='description' content='' />
    <meta name='keywords' content='' />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('bundles/islog/js/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/islog/js/vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/islog/css/main.css') }}" />

    {% block css %}{% endblock %}

    <script src="{{ asset('bundles/islog/js/vendor/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/islog/js/vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>

    {% block js_top %}{% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

    <div class="container  main-wrap">
        {% include '@ISLog/Common/main_nav.html.twig' %}

        <div id="main"> {% block main %}{% endblock %}</div>
    </div>

    {% include '@ISLog/Common/footer.html.twig' %}

    {% block js_bottom %} {% endblock %}

    <script src="{{ asset('bundles/islog/js/main.js') }}"></script>
    <script src="{{ asset('bundles/islog/js/vendor/esimakin_pagination/jquery.twbsPagination.min.js') }}"></script>
    <script src="{{ asset('bundles/islog/js/entries.js') }}"></script>
</body>
</html>

