<div id="navbar">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('is_log_system') }}">ISLogBundle</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') == 'is_log_system'%}class="active"{% endif %}><a href="{{ path('is_log_system') }}">System</a></li>
                <li {% if app.request.get('_route') == 'is_log_transaction'%}class="active"{% endif %}><a href="{{ path('is_log_transaction') }}">Transaction</a></li>
                <li {% if app.request.get('_route') == 'is_log_trader'%}class="active"{% endif %}><a href="{{ path('is_log_trader') }}">Trader</a></li>
                <li {% if app.request.get('_route') == 'is_log_admin'%}class="active"{% endif %}><a href="{{ path('is_log_admin') }}">Admin</a></li>
                <li {% if app.request.get('_route') == 'is_log_app'%}class="active"{% endif %}><a href="{{ path('is_log_app') }}">App</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>