<div class="note-panel panel {%if status == 'success'%} panel-success {% else %} panel-danger {% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">Success</h3>
        <!-- Watch Out: Here We must use the effect name in the data tag-->
        <span class="pull-right clickable" data-effect="hide"><i class="fa fa-times"></i></span>
    </div>
    <div class="panel-body">
        {{ msg }}
    </div>
</div>


