/************** MAIN **************/
html, body {
    height: 100%;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/upfeathers.png");
}

.panel, .form-control, .btn {
    border-radius: 0;
}

#main {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0 15px 0 15px
}

.container {
    padding: 0 !important;
    background: #FFF;
}

.main-wrap {
    width: 982px;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -70px;
}

.main-wrap:after {
    content: "";
    display: block;
}

.float-right {float: right}
.float-left {float: left}

.color-red {color: #f44336}
.color-blue {color: #3f51b5}
.color-green {color: #009688}
/************** /MAIN *************/

/************* FOOTER *************/
/* Sticky footer solution from: https://css-tricks.com/snippets/css/sticky-footer/ */
#footer-container {
    width: 982px;
}

#footer, .main-wrap:after {
    height: 70px;
}

#footer {
    padding: 0 15px 0 15px;
    background-color: #f8f8f8;
}
/************* /FOOTER ***************/

/********* LOG ACTIONS **************/
.actions .btn-col {top: 24px; padding-left: 0}

/********* /LOG ACTIONS **************/

/*********  LOG ENTRIES **************/

/* Note panel */
.note-panel .panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.note-panel .panel-body {
    padding: 15px;
}

.note-panel .clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.note-panel .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note-panel .fa-times:before {
    content: "\f00d";
}
/* /Note panel */

/* Log panel */
.app-total-entries {
    margin: 10px 0 20px 0;
}

.app-panel-log label
{
    display: block;
    font-weight: normal;
}

.app-panel-log .app-panel-actions
{
    overflow: hidden; /* Clearfix. */
    padding: 0 15px 5px 15px;
}

.app-panel-log .app-panel-action
{
    display: inline-block;
    float: right;
}
/* /Log panel */

/************ /LOG ENTRIES **************/